/*reglas generales*/
body{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0;
}
.header-page{    
    text-align: center;
}
.hero{
    display: flex;
    justify-content: center;
    width: 200px;
}

.hero img{
    
    width: 321px !important;
}
.contenerdor-main{    
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.contenerdor-main h2{
    padding: 2rem;
}

/** Reescribir colores */
h1, h2{
    color: #000080;
}
/** Productos */
.img-producto-1{
    background-image: url("/img/producto1.jpg");    
}
.img-producto-2{
    background-image: url("/img/producto2.jpg");    
}
.img-producto-3{
    background-image: url("/img/producto3.jpg");    
}
.img-producto-4{
    background-image: url("/img/producto4.jpg");    
}
.img-producto-5{
    background-image: url("/img/producto5.jpg");    
}
.img-producto-6{
    background-image: url("/img/producto6.jpg");    
}
.img-categoria-1{
    background-image: url("/img/categoria1.jpg");   
}
/** Categorias */
.img-categoria-2{
    background-image: url("/img/categoria2.jpg"); 
}
.img-categoria-3{
    background-image: url("/img/categoria3.jpg"); 
}
/*Containers*/
.container-individual{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    width: 100%;
}
.container-individual-col{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;    
}
.container-doble{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 9px;
}

.container-triple{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 9px;
}

.product-img{
    position: static;
    border-radius: 10px;
    min-height: 321px;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    max-height: 340px;
}
.product-card{    
    background-color: #037bc1;
    color: whitesmoke;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.product-img-30{
    width: 100%;
    min-width: 321px;
}
.product-img-30-multi{
    width: 100%;
    min-width: 321px;
    /* padding: 5px; */
}
.product-img-70{
    width: 100%;
    min-width: 320px;
}
.product-img-50{
    width: 100%;
    min-width: 321px;
}
.container-individual-col-50{
    width: 100%;
    
}
.container-individual-col-30{
    width: 100%;
    padding: 10px;
}
.btn-back-color{
    background-color: #8cbc01;
}
.btn-back-color:hover{
    background-color: #BDB76B;
}

.pie-pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0;
    gap: 1rem;
    
}
.resumen p {
    font-size: small;
    line-height: 0.5rem;
}
.resumen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem; 
}
.disclaimer{
    display: flex;
    justify-content: center;
}


/*Media Query*/
@media (min-width: 1218px) {
    .product-img-30{
        width: 30%;
    }
    .product-img-50{
        min-width: 560px;
    }
    .product-img-70{
        width: 70%;
        min-width: 320px;
    }
    .product-img-30-multi{
        width: 30%;
        min-width: 321px;
    }
    .container-individual-col-30{
        width: 30%;
        min-width: 321px;
        padding: 10px;
    }
    .container-individual-col-50{
        width: 49%;
        min-height: 321px;
    }
    .contenerdor-main{        
        align-items: center;
    }
    .resumen{
        gap: 12rem; 
    }
    .hero img{    
        width: 640px !important;
    }
}